@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expense Tracker</h1>
    <p class="lead"> Daily Expense Tracker that are created using ASP.NET MVC that is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    
</div>
